<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

{% extends "base.html" %}
{% block title %}Admin Tasks{% endblock %}
{% block admin_active %}class="active"{% endblock %}
{% block body %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Admin Tasks</div>
        <div class="panel-body">
            <form action="/reset_admin_password" method="post">
                <input type="hidden" name="username" placeholder="Username">
                <input type="password" name="old_password" placeholder="Old Password">
                <input type="password" name="new_password" placeholder="New Password">
                <input type="password" name="new_password_confirm" placeholder="Password Confirmation">
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

