{% extends "base.html" %}
{% block title %}Audit{% endblock %}
{% block audit_active %}class="active"{% endblock %}
{% block panel_title %}Audit List{% endblock %}
{% block nav_tabs %}
{% include "navtabs.html" %}
{% endblock %}
{% block panel_body %}
    <table id="audit" class="table table-striped table-hover">
        <thead>
            <tr><th>Contract</th><th>Position</th></tr>
        </thead>
        <tbody>
            {% for ticker, position_total in position_totals.iteritems() %}
            <tr>
                <th>{{ticker}}</th>
                <th>{{position_total}}</th>
            </tr>
                {% for position in positions_by_ticker[ticker] %}
                <tr>
                    <td>{{position.user.user_hash}}</td>
                    <td>{{position.position}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}