{% extends "base.html" %}
{% block title %}Audit{% endblock %}
{% block balance_sheet_active %}class="active"{% endblock %}
{% block body %}
<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading">Audit List</div>
    <div class="panel-body">
    <table id="assets" class="table table-striped table-hover">
        <thead>
            <tr><th>Contract</th><th>Position</th></tr>
        </thead>
        <tbody>
            {% for ticker, position_total in asset_totals.iteritems() %}
            <tr>
                <th>{{ticker}}</th>
                <th>{{position_total}}</th>
            </tr>
                {% for position in assets_by_ticker[ticker] %}
                <tr>
                    <td>{{position.user.username}}</td>
                    <td>{{position.position}}</td>
                    <td>{{position.description}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <table id="liabilities" class="table table-striped table-hover">
        <thead>
            <tr><th>Contract</th><th>Position</th></tr>
        </thead>
        <tbody>
            {% for ticker, position_total in liability_totals.iteritems() %}
            <tr>
                <th>{{ticker}}</th>
                <th>{{position_total}}</th>
            </tr>
                {% for position in liabilities_by_ticker[ticker] %}
                <tr>
                    <td>{{position.user.username}}</td>
                    <td>{{position.position}}</td>
                    <td>{{position.description}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</div>
{% endblock %}
