{% extends "base.html" %}
{% block title %}Contracts{% endblock %}
{% block coffeescript %}
    <script type="text/coffeescript">
        $ ->
            rows = $("#contracts").children("tbody").children("tr")

            $("#search").keyup ->
                term = $.trim $(@).val().toLowerCase()
                rows.hide()
                if $("#exact").prop("checked")
                    for row in rows
                        for line in $(row).text().split "\n"
                            if $.trim(line) is term
                                $(row).show()
                else
                    for row in rows
                        if $(row).text().search(term) > -1
                            $(row).show()

            # restripe
            $("tr").removeClass("alternate")
            $("tr:not(.hide):odd").addClass("alternate")

            $("#exact").change -> $("#search").keyup()
    </script>
{% endblock %}
{% block contracts_active %}class="active"{% endblock %}
{% block body %}
<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading">Contract List</div>
    <div class="panel-body">
    <form role="form" action="#">
    <div class="form-group">
        <input type="search" id="search" autocomplete="off" placeholder="Search">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="exact"> Exact match
            </label>
        </div>
    </div>
    </form>
    <table id="contracts" class="table table-striped table-hover">
        <thead>
            <tr><th>Ticker</th><th>Description</th><th>Full Description</th><th>Contract Type</th><th>Tick Size</th>
                <th>Lot Size</th><th>Denominator</th><th>Expiration</th>
                <th>Denominated</th><th>Payout</th><th>Margin High</th><th>Margin Low</th><th>Clear</th>
            </tr>
        </thead>
        <tbody>
            {% for contract in contracts %}
            {% if contract.active %}
                <tr>
                    <td>
                        {% if contract.contract_type != "cash" %}
                            <a href="/order_book?ticker={{contract.ticker}}">{{contract.ticker}}</a>
                        {% else %}
                            {{contract.ticker}}
                        {% endif %}
                    </td>
                    <td>{{contract.description}}</a></td>
                    <td>{{contract.full_description}}</td>
                    <td>{{contract.contract_type}}</td>
                    <td>{{contract.tick_size}}</td>
                    <td>{{contract.lot_size}}</td>
                    <td>{{contract.denominator}}</td>
                    <td>{{contract.expiration}}</td>
                    <td>{{contract.denominated_contract_ticker}}</td>
                    <td>{{contract.payout_contract_ticker}}</td>
                    <td>{{contract.margin_high}}</td>
                    <td>{{contract.margin_low}}</td>
                    <td>
                        {% if contract.expired %}
                        <form method="POST" action="/clear_contract">
                            <input type="hidden" name="ticker" value="{{contract.ticker}}">
                            <input type="text" name="price" placeholder="Clearing Price">
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</div>
{% endblock %}

