{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block panel_title %}{{username}}{% endblock %}
{% block coffeescript %}
        <!-- TODO: ADD COFFEE SCRIPT TO CONFIRM THAT PASSWORDS MATCH -->
{% endblock %}
{% block panel_body %}
<form method="POST" action="/reset_user_password">
    <input type="hidden" name="token" value="{{token}}">
    <input type="hidden" name="username" value="{{username}}">
    New password: <input type="password" name="new_password" placeholder="New password">
    Confirm password: <input type="password" name="confirm_password" placeholder="Confirm password">
    <button type="submit">Change Password</button>
</form>
{% endblock %}