{% extends "base.html" %}
{% block title %}User List{% endblock %}
{% block coffeescript %}
    <script type="text/coffeescript">
        $ ->
            rows = $("#users").children("tbody").children("tr")

            $("#search").keyup ->
                term = $.trim $(@).val().toLowerCase()
                rows.hide()
                if $("#exact").prop("checked")
                    for row in rows
                        for line in $(row).text().split "\n"
                            if $.trim(line) is term
                                $(row).show()
                else
                    for row in rows
                        if $(row).text().search(term) > -1
                            $(row).show()

            # restripe
            $("tr").removeClass("alternate")
            $("tr:not(.hide):odd").addClass("alternate")

            $("#exact").change -> $("#search").keyup()
    </script>
{% endblock %}
{% block users_active %}class="active"{% endblock %}
{% block nav_tabs %}
{% include "navtabs.html" %}
{% endblock %}
{% block panel_title %}User List{% endblock %}
{% block panel_body %}
    <form role="form" action="#">
    <div class="form-group">
        <input type="search" id="search" autocomplete="off" placeholder="Search">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="exact"> Exact match
            </label>
        </div>
    </div>
    </form>
    <table id="users" class="table table-striped table-hover">
        <thead>
            <tr><th>Username</th><th>Email</th><th>Nickname</th></tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="/user_details?username={{user.username}}">{{user.username}}</a></td>
                    <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                    <td>{{user.nickname}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

