*.py[cod]
__pycache__
*.log
logs
build
debug
dist
sputnik.tar.gz
.bitcoin
.idea/workspace.xml
postgresql-9.2-1002.jdbc4.jar
sqlitejdbc-v056.jar
zentus-sqlite-license.txt
postgresql-driver-license.txt
clients/www/*.js
clients/coffeescript/*.js
clients/www/*.css
sputnik.tar
docs/build
_trial_temp
