[submodule "charting_library"]
	path = charting_library
	url = https://github.com/tradingview/charting_library
	branch = master
	checkout = merge
[submodule "bitgo"]
	path = bitgo
	url = https://github.com/MimeticMarkets/bitgo
