*.py[cod]
__pycache__
*.log
dist
sputnik.tar.gz
.bitcoin
.idea/workspace.xml
postgresql-9.2-1002.jdbc4.jar
sqlitejdbc-v056.jar
zentus-sqlite-license.txt
postgresql-driver-license.txt
sputnik.tar
aux.ini
