<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Liquidity Pool</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js"></script>
</head>
<body>
    <div class="container">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li role="presentation"><a href="#trader" aria-controls="trader" role="tab" data-toggle="tab">Trader</a></li>
                <li role="presentation"><a href="#valuation" aria-controls="valuation" role="tab" data-toggle="tab">Valuation</a></li>
                <li role="presentation"><a href="#state" aria-controls="state" role="tab" data-toggle="tab">State</a></li>
                <li role="presentation"><a href="#transits" aria-controls="transits" role="tab" data-toggle="tab">Transits</a></li>
                <li role="presentation"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
                <li role="presentation"><a href="#optimized" aria-controls="optimized" role="tab" data-toggle="tab">Optimized</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="trader">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Trader {{object.trader.fsm.current_state}}</div>
                        <div class="panel-body">
                            <a href="/start">Start</a>
                            <a href="/stop">Stop</a>
                            <table id="trader-parameters">
                                <form method="POST" action="/trader_parameters">
                                <input type="submit">
                                <tbody>
                                    <tr>
                                        <th>Edge</th>
                                        <td>{{object.trader.edge}}</td>
                                    </tr>
                                    <tr>
                                        <th>Quote Size</th>
                                        <td><input type="text" name="quote_size" value="{{object.trader.quote_size}}"></td>
                                    </tr>
                                    <tr>
                                        <th>Edge to Enter</th>
                                        <td><input type="text" name="edge_to_enter" value="{{object.trader.edge_to_enter}}"></td>
                                    </tr>
                                    <tr>
                                        <th>Edge to Leave</th>
                                        <td><input type="text" name="edge_to_leave" value="{{object.trader.edge_to_leave}}"></td>
                                    </tr>
                                </tbody>
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="valuation">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Valuation Parameters</div>
                        <div class="panel-body">
                            <form method="POST" action="/valuation_parameters">
                                <input type="submit">
                                <table id="valuation-params" class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <th>Deviation Penalty</th>
                                            <td><input type="text" name="deviation_penalty" value="{{object.valuation.deviation_penalty}}"></td>
                                        </tr>
                                        <tr>
                                            <th>Risk Aversion</th>
                                            <td><input type="text" name="risk_aversion" value="{{object.valuation.risk_aversion}}"></td>
                                        </tr>
                                        <tr>
                                            <th>Target Balance Source</th>
                                            <td>{{object.data.btc_ticker}}: <input type="text" name="target_balance_source_btc" value="{{object.valuation.target_balance_source[object.data.btc_ticker]}}"></td>
                                            <td>{{object.data.source_ticker}}: <input type="text" name="target_balance_source_source" value="{{object.valuation.target_balance_source[object.data.source_ticker]}}"></td>
                                        </tr>
                                        <tr>
                                            <th>Target Balance Target</th>
                                            <td>{{object.data.btc_ticker}}: <input type="text" name="target_balance_target_btc" value="{{object.valuation.target_balance_target[object.data.btc_ticker]}}"></td>
                                            <td>{{object.data.target_ticker}}: <input type="text" name="target_balance_target_target" value="{{object.valuation.target_balance_target[object.data.target_ticker]}}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="state">
                    <div class="panel panel-primary">
                        <div class="panel-heading">State</div>
                        <div class="panel-body">
                            <table id="state_table" class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>Timestamp</th>
                                        <td>{{object.state.timestamp}}</td>
                                    </tr>
                                    <tr>
                                        <th>Offers</th>
                                        <td>{{object.state.offered_bid}}</td>
                                        <td>{{object.state.offered_ask}}</td>
                                    </tr>
                                    <tr>
                                        <th>Source Balances</th>
                                        {% for ticker, position in object.state.balance_source.iteritems() %}
                                        <td>{{ticker}}: {{position.position}}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th>Target Balances</th>
                                        {% for ticker, position in object.state.balance_target.iteritems() %}
                                        <td>{{ticker}}: {{position.position}}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th>Source Best Bid/Ask</th>
                                        <td>{{object.state.source_best_bid}}</td>
                                        <td>{{object.state.source_best_ask}}</td>
                                    </tr>
                                    <tr>
                                        <th>Fiat Best Bid/Ask</th>
                                        <td>{{object.state.fiat_best_bid}}</td>
                                        <td>{{object.state.fiat_best_ask}}</td>
                                    </tr>
                                    <tr>
                                        <th>Variances</th>
                                        <td>Source: {{object.state.source_variance}}</td>
                                        <td>Fiat: {{object.state.fiat_variance}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="transits">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Transit To Source</div>
                        <div class="panel-body">
                            <table id="transit_to_source" class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>From Ticker</th>
                                        <th>To Ticker</th>
                                        <th>Quantity</th>
                                        <th>Destination</th>
                                    </tr>
                                    {% for id, transit in object.state.transit_to_source.iteritems() %}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{transit.from_ticker}}</td>
                                        <td>{{transit.to_ticker}}</td>
                                        <td>{{transit.quantity}}</td>
                                        <td>{{transit.destination}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Transit From Source</div>
                        <div class="panel-body">
                            <table id="transit_from_source" class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>From Ticker</th>
                                        <th>To Ticker</th>
                                        <th>Quantity</th>
                                        <th>Destination</th>
                                    </tr>
                                    {% for id, transit in object.state.transit_from_source.iteritems() %}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{transit.from_ticker}}</td>
                                        <td>{{transit.to_ticker}}</td>
                                        <td>{{transit.quantity}}</td>
                                        <td>{{transit.destination}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Transit To Target</div>
                        <div class="panel-body">
                            <table id="transit_to_target" class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>From Ticker</th>
                                        <th>To Ticker</th>
                                        <th>Quantity</th>
                                        <th>Destination</th>
                                    </tr>
                                    {% for id, transit in object.state.transit_to_target.iteritems() %}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{transit.from_ticker}}</td>
                                        <td>{{transit.to_ticker}}</td>
                                        <td>{{transit.quantity}}</td>
                                        <td>{{transit.destination}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Transit From Target</div>
                        <div class="panel-body">
                            <table id="transit_from_target" class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>From Ticker</th>
                                        <th>To Ticker</th>
                                        <th>Quantity</th>
                                        <th>Destination</th>
                                    </tr>
                                    {% for id, transit in object.state.transit_from_target.iteritems() %}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{transit.from_ticker}}</td>
                                        <td>{{transit.to_ticker}}</td>
                                        <td>{{transit.quantity}}</td>
                                        <td>{{transit.destination}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="orders">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Source Orders</div>
                        <div class="panel-body">
                            <table id="source_orders" class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <th>Timestamp</th>
                                        <th>Ticker</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Quantity Left</th>
                                        <th>Side</th>
                                    </tr>
                                    {% for id, order in object.state.source_orders.iteritems() %}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{order.timestamp}}</td>
                                        <td>{{order.contract}}</td>
                                        <td>{{order.price}}</td>
                                        <td>{{order.quantity}}</td>
                                        <td>{{order.quantity_left}}</td>
                                        <td>{{order.side}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Target Orders</div>
                        <div class="panel-body">
                            <table id="target_orders" class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <th>Timestamp</th>
                                        <th>Ticker</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Quantity Left</th>
                                        <th>Side</th>
                                    </tr>
                                    {% for id, order in object.state.target_orders.iteritems() %}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{order.timestamp}}</td>
                                        <td>{{order.contract}}</td>
                                        <td>{{order.price}}</td>
                                        <td>{{order.quantity}}</td>
                                        <td>{{order.quantity_left}}</td>
                                        <td>{{order.side}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="optimized">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Optimization</div>
                        <div class="panel-body">
                            <table id="base" class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th></th>
                                        <th>Base</th>
                                        <th>Optimized</th>
                                        <th>Rounded</th>
                                    </tr>
                                    {% for parameter in ["offered_bid", "offered_ask", "btc_source_target", "transfer_source_out", "fiat_source_target", "trade_source_qty"] %}
                                    <tr>
                                        <td>{{parameter}}</td>
                                        {% for obj in [object.valuation.base_params, object.valuation.optimized_params, object.trader.rounded_params] %}
                                        {% if parameter in obj %}
                                        <td>{{obj[parameter]}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    {% for result in object.valuation.base.keys() %}
                                    <tr>
                                        <td>{{result}}</td>
                                        {% for obj in [object.valuation.base, object.valuation.optimized, object.trader.rounded] %}
                                        {% if result in obj %}
                                        <td>{{obj[result]}}</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');

        setInterval(function() {
            window.location.reload()
        }, {{object.trader.period}} * 1000);
    </script>
</body>
</html>
