[database]
uri = postgresql://%(username)s:%(password)s@%(host)s:%(port)s/%(dbname)s
username = ${user}
password = ${dbpassword}
host = ${dbhost}
port = ${dbport}
dbname = ${dbname}
adapter = psycopg2
