body {
	background-color: #f1f1f1;
	font: 13px "Lato", Helvetica, sans-serif;
	color: #4b4b4b;
}

.navbar {
	height: 67px;
	background-color: #fff;
	border-bottom: solid 1px #c1c1c1;
	text-align: left;
}

h1.logotext {
	display: inline;
	font: 300 24px "Lato", Helvetica, sans-serif;
	padding: 0px;
	margin: 17px 0;
	float:left;


}

ul#navlinks {
	display: inline;
	text-align: right;
	margin-top: 22px;
	float:left;
}

ul#navlinks li {
	display: inline;
	list-style-type: none;
	font: 300 18px "Lato", Helvetica, sans-serif;
	margin: 30px 22px 0 22px;
	padding: 30px 0;

}

.mainselect {
	text-align: right;
}

.mainselect-dropdown {
	margin-top:22px;
}

.tab-inactive {
	float:left;
	padding: 6px 16px;
	margin: 18px 5px 0 5px;
	border: solid 1px #c1c1c1;
  	background: -webkit-linear-gradient(#f8f8f8, #cfcfcf); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#f8f8f8, #cfcfcf); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#f8f8f8, #cfcfcf); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#f8f8f8, #cfcfcf); /* Standard syntax */
  	z-index:-1;
}

.tab-active {
	float:left;
	padding: 6px 16px;
	margin: 18px 5px 0 5px;
	border-top: solid 1px #c1c1c1;
	border-left: solid 1px #c1c1c1;
	border-right: solid 1px #c1c1c1;
	border-bottom: solid 1px #fff;
	background-color: #fff;
	z-index:10;
}

.tab-heading {
	font: 300 16px "Lato", Helvetica, sans-serif;
}

.content {
	background-color: #fff;
	border: solid 1px #c1c1c1;
	margin-top: -1px;
	z-index: -1;
}

.contracts {
	border-bottom: 1px solid #e6e6e6;
	padding: 38px 35px;
	margin: 0 -15px 0  -15px;
}

.active-link-box {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font: 300 15px "Lato", Helvetica, sans-serif;
  background: #33cc66;
  padding: 8px 17px 8px 17px;
  text-decoration: none;
}

.active-link-box:hover {
  background: #4ce67f;
  text-decoration: none;
}

.inactive-link-box {
	font: 300 15px "Lato", Helvetica, sans-serif;
	padding: 8px 27px 8px 27px;
}

a {
	color: #33cc66;
	font: 300 15px "Lato", Helvetica, sans-serif;
	text-decoration: none;
}

p {
	font: 300 14px "Lato", Helvetica, sans-serif;
}

.contract-overview {
	border-bottom: 1px solid #e6e6e6;
	margin: 0 -15px 0  -15px;
	padding: 32px 35px;
}

.grey-header {
	font: 700 13px "Lato", Helvetica, sans-serif;
	color: #b7b7b7;
}

p.first-line {
	margin-top: -13px;
}

p.first-line2 {
	margin-top: 18px;
}

h6.buy {
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	margin-left:19px;
}

h6.sell {
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	margin-left:8px;
}

.contract-select {
	display: none;
}

.header-box {
  	background-color: #57c1ff; 
}

.header-box-sell {
	background-color: #33cc66;
}

.form-label {
	margin-top: 15px;
}

.form-label-left {
	margin: 15px 0 0 18px;
}

.form-label-left2 {
	margin: 15px 0 0 8px;
}

.buy-box {
	border-right: solid 1px #e6e6e6;
}

.sell-box {
	border-right: solid 1px #e6e6e6;
}

.text-field {
	margin: 10px 0 25px 18px;
}

.text-field2 {
	margin: 10px 0 25px 8px;
}

/*-- Media Queries --*/

@media screen and (max-width: 768px) and (min-width: 220px) {
	.contract-overview-info2 {
		margin-top: 25px;
	}

	.active-link-box {
		display: none;
	}
	.inactive-link-box {
		display: none;
	}
	.contract-select {
		display:block;
	}
}