<div class="modal fade" id="change_password_token_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{translate("titles/reset_password", sputnik.profile.locale)}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-signin" role="form">
                    <input type="password" class="form-control field-space" id="new_password_token" placeholder="{{translate('fields/new_password', sputnik.profile.locale)}}" required>
                    <input type="password" class="form-control field-space" id="new_password_token_confirm" placeholder="{{translate('fields/confirm_new_password', sputnik.profile.locale)}}" required>
                </form>
                <div class="alert alert-info alert-reset">{{translate("alerts/enter_new_password", sputnik.profile.locale)}}</div>
            </div>
            <div class="modal-footer reset-footer">
                <a data-color="blue" data-size="s" data-style="zoom-out" href="#" class="ladda-button button-link-box3 button-place3" on-click="change_password_token"><span class="ladda-label">{{translate("buttons/change_password", sputnik.profile.locale)}}</span></a>
            </div>
        </div>
    </div>
</div>