<div class="modal fade" id="login_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <ul class="nav nav-tabs">
                    <li class="active login-tab"><a href="#login_tab" data-toggle="tab">{{translate("tabs/login", sputnik.profile.locale)}}</a></li>
                    <li class="login-tab"><a href="#register_tab" data-toggle="tab">{{translate("tabs/register", sputnik.profile.locale)}}</a></li>
                </ul>
            </div>
            <div class="modal-body form-horizontal">
                <div class="tab-content">
                    <div class="tab-pane active" id="login_tab" on-enter="login">
                        <form class="form-signin content-push4" role="form">
                            <input type="text" class="form-control" id="login_username" placeholder="{{translate('fields/email', sputnik.profile.locale)}}" required
                                   autofocus><br>
                            <input type="password" class="form-control" id="login_password" placeholder="{{translate('fields/password', sputnik.profile.locale)}}"
                            <input type="text" class="form-control" id="login_otp" placeholder="{{translate('fields/otp', sputnik.profile.locale)}}"
                            required><br>
                            <a href="#" id="get_reset_token" on-click="get_reset_token">{{translate("buttons/reset_password", sputnik.profile.locale)}}</a>
                        </form>
                        <div class="alert alert-warning" style="display:none" id="login_error">
                            {{translate("alerts/bad_username_pw", sputnik.profile.locale)}}
                        </div>
                        <div id="reset_token_sent" class="alert alert-info" style="display:none">
                            {{translate("alerts/reset_sent", sputnik.profile.locale)}}
                        </div>
                        <a data-color="blue" data-size="s" data-style="zoom-out" href="#" id="login_button" on-click="login" class="ladda-button button-place2 button-link-box3">{{translate("buttons/login", sputnik.profile.locale)}}</a>
                    </div>
                    <div class="tab-pane" id="register_tab" on-enter="register">
                        <form class="form-signin form-horizontal" role="form">
                            <input type="email" class="form-control" id="register_email" placeholder="{{translate('fields/email', sputnik.profile.locale)}}" required><br>
                            <input type="password" class="form-control" id="register_password" placeholder="{{translate('fields/password', sputnik.profile.locale)}}"
                                   required><br>
                            <div class="form-group">
                                <div class="col-xs-9 content-push5">
                                    <label> <input type="checkbox" id="register_eula" value="1">
                                        <span class="terms">{{translate("register_modal/agree", sputnik.profile.locale)}} <a href="../terms.html" target="_blank">{{translate("register_modal/terms", sputnik.profile.locale)}}</a> </span><br>
                                    </label>
                                </div>
                            </div>
                        </form>
                        <div class="alert alert-warning" style="display:none" id="register_error">
                        </div>
                        <a data-color="blue" data-size="s" data-style="zoom-out" href="#" id="register_button" on-click="register" class="ladda-button button-place2 button-link-box3">{{translate("buttons/register", sputnik.profile.locale)}}</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
