#buy_panel .alert,
#sell_panel .alert {
  display: none;
}
#account_modal .tab-content {
  padding-top: 20px;
}
#account_modal .form-inline .form-group {
  margin-left: 0;
  margin-right: 0;
}
#account_modal input[type=file] {
  padding-top: 10px;
  padding-bottom: 40px;
}
#reset_token_sent {
  display: none;
}
#account_menu .glyphicon {
  marign-right: 10px;
}
#ledger_modal .modal-dialog {
  width: 700px;
}
